<main>
    <a href="/session/logout"> Cerrar sesion </a>
    <br>
    {{#if user}}
        <h2>Hi, {{user.firstName}}!</h2>
    {{/if}}
    <br>
    <h1 class="title"> Products list</h1>

    <table class="productList">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Picture</th>
        </tr>
        {{#if data.docs.length}}
        {{#each data.docs}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.price}}</td>
            <td><img height="72px" width="72px" src={{this.thumbnail}}/></td>
        </tr>
        {{/each}}
        {{/if}}
    </table>  
</main>

<script src="js/main.js"></script>